*{
    padding: 0px;
    margin: 0px;
    border:none;
    outline:none;
}

body
{

    background:url("../b.jpg") no-repeat;
    background-attachment: fixed;

}

#heading
{   
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 1.2rem 1.2rem;
}

#heading > h1{
    color:grey;
    font-size: 32px;
    font-family: Merriweather;
    font-weight: bolder;
}

.databox
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: 'Merriweather';
    color:gray;
    font-size: 28px;
    font-weight: bold;

}

.databox > h4, .databox > button{
    background:#117A65;
    color:#D1F2EB;
    margin-top: 1rem;
    border:2px solid #1C2833;
    padding: .4rem .7rem;
    border-radius: 15px;
    box-shadow: 2px 3px 2px 3px;
    cursor: pointer;
}

.selbox > select, .selbox > select > option{
    background: black;
    width: 22rem;
    height: 3rem;
    color:white;
    border: 2px solid orangered;
    position: absolute;
    top: 20%;
    left: 50%;
    font-size:26px;
    transform: translate(-50%,-50%);
    cursor: pointer;
    padding: 0rem 1rem;
    
}
