*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
}

body{
    background:url("../p1.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: 'Roboto Mono';
    padding: 2rem 0rem;
    background-color: black;
    color: chartreuse;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.container > div{
    width: 15rem;
    height: 8rem;
    background-color:#1C2833;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family:impact;
    cursor: pointer;
}

.container > div:hover{
    overflow: hidden;
    transform:scale(1.1);
	cursor: pointer;
}

footer
{
    font-size: 32px;
    font-family: 'Roboto Mono';
    padding: 2rem 0rem;
    background-color: black;
    color: chartreuse;
    height: 10rem;
    display: flex;
    justify-content: center;
}

footer > p{
    font-size: 20px;
    font-weight: 600;
}

.search-bar > input
{
    display: inline;
    justify-content: left;
    padding-left: 4rem;
    width: 30rem;
    height: 3rem;
    line-height: 3px;
    border:3px solid black;
    border-radius: 22px;
    background-color:#CB4335;
    color: wheat;
    text-transform: capitalize;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Merriweather;
    
}

::placeholder{
    color:white;
    opacity: 1;
}
