<!DOCTYPE html>
<html lang="eng">
    <head>
        <link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/index.css') }}">
        <script src="{{url_for('static', filename='stylesheets/index.js')}}"></script>
        <title>Corona Live Count</title>
        <!-- fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            
        <!--meta tags-->
        <meta name="viewport " content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    </head>
    <body>
       
    </body>
</html>